.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px; // your preference
}
#drinkBar .form-control{
  width: 60%;
  margin-top: 10px;
}
.angucomplete-description {
    font-size: 12px;
}
.angucomplete-dropdown {
    width: 60%;
}
.angucomplete-holder {
  position: inherit;
}
