.userCabinet{

}

.userCabinet .padFix{
  padding-left: 3px !important;
  padding-right:3px !important;
}



.userCabinet .textFix{
  font-size:10px;
}

.userCabinet .ingList *{
  padding-left:0 !important;
  padding-right:0 !important;
}
