<div class="container-fluid userCabinet" ng-hide="hideUserMenu">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel panel-primary">
      <br>
      <div class="panel-heading col-sm-12 col-md-12 col-lg-12" >
        <label class=" col-sm-5 col-md-5 col-lg-5" for="Ingredients">Ingredients:</label>
        <label class=" col-sm-4 col-md-4 col-lg-4 " for="Ingredients">Amount:</label>
      </div><br><br>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel-body" ng-hide="ingredients.length>0">
        <h3 style="text-align:center">Your cabinet is empty!</h3>
      </div>
      <ul class="panel-body list-group padFix" id="Ingredients" style="padding:0px !important">
        <li class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row list-group-item ingList padFix" ng-repeat="ing in ingredients | orderBy:text" style="list-style-type: none;">
          <div class="ingName col-xs-5 col-sm-5 col-md-5 col-lg-5">
             {{ing.text}}
          </div>
          <div class="ingAmount col-xs-5 col-sm-5 col-md-5 col-lg-5 btn-group">
            <p ng-if="ing.isLiquid == true || ing.isLiquid == null">
              {{ing.amount}} oz
            </p>
            <p ng-if="ing.isLiquid == false">
              {{ing.amount}} units
            </p>
          </div>
          <div class="ingRemove col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <a class="btn btn-danger btn-sm" ng-class="{'textFix padFix': isMobile}" ng-click="remove(ing)">
              <span class="" ng-class="{'glyphicon glyphicon-remove': !isMobile}"></span>
              Remove
            </a>
          </div><br><br>
        </li>
      </ul>
      <div class="panel-footer col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a class="btn btn-success col-xs-2 col-sm-2 col-md-2 col-lg-2 col-sm-offset-10" style="width:60px" data-toggle="modal" data-target="#myModal"> Add</a>
      </div>
    </div>
    <!--<div class="ingAdd col-sm-6 col-md-6 col-lg-5 col-lg-offset-1 panel panel-info">
      <br>
      <input class="form-control panel-heading" ng-model="search" placeholder="Search For Ingredients" type="search"><br>
      <ul class="panel-body">
        <li class="" ng-repeat="ingre in dataIngredients | filter:search | orderBy:text | limitTo:10" style="list-style-type: none;">
          <div class=" col-sm-4 col-md-4 col-lg-5">
            {{ingre.text}}
          </div>
          <div class="col-sm-5 col-md-5 col-lg-5">
            {{ingre.type}}
          </div>
          <div class="col-sm-2 col-md-2 col-lg-2">
            <a class="btn btn-info" ng-click="addIng(ingre)">Add</a>
          </div><br><br>
        </li>
      </ul>
    </div>-->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" >
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Ingredients to Cabinet</h4>
          </div>
          <div class="modal-body padFix" >
            <div class="row padFix" >
            <div class="ingAdd col-sm-12 col-md-12 col-lg-12 panel panel-info padFix">
              <br>
              <input class="form-control panel-heading" ng-model="search" placeholder="Search For Ingredients" type="search"><br>
              <ul class="panel-body padFix" >
                <li class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row padFix"  ng-repeat="ingre in dataIngredients | filter:search | orderBy:text | limitTo:10" style="list-style-type: none;">
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-class="{'textFix padFix': isMobile}">
                    {{ingre.text}}
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" ng-class="{'textFix padFix': isMobile}">
                    {{ingre.type}}
                  </div>
                  <div class="ingAmount col-xs-4 col-sm-4 col-md-4 col-lg-4 btn-group row" ng-hide="isMobile" ng-class="{'padFix': isMobile}">
                    <input class="form-control btn-default btn col-xs-8 input-xs" ng-class="{'input-sm': isMobile}" max="99" min="0" name="amount" ng-model="ingre.amount" required step=".01" style="max-width:60%" type="number" inputmode="numeric" pattern="[0-9]*">
                    <p class="btn btn-primary col-xs-4" ng-class="{'textFix btn-md': isMobile}" ng-if="ingre.isLiquid == true || ingre.isLiquid == null">
                      oz
                    </p>
                    <p class="btn btn-primary col-xs-4 "  ng-class="{'textFix btn-md': isMobile}" ng-if="ingre.isLiquid == false">
                      units
                    </p>
                  </div>

                  <div ng-show="isMobile " class="ingAmount col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <input class="form-control  input-xs textFix" ng-class="{'input-sm': isMobile}" max="99" min="0" name="amount" ng-model="ingre.amount" required step=".01" type="number">
                  </div>

                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 padFix">
                    <a class="btn btn-success"  ng-class="{'textFix btn-md': isMobile}" ng-click="addIng(ingre)">Add</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          </div>
          <div class="modal-footer">
            <a class="btn btn-default" data-dismiss="modal">Close</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
